<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    {{>header}}
    <p>This website was created as part of the udemy course "The complete Node Developer"</p>
    {{>footer}}
  </body>
</html>